<ion-header>
    <ion-toolbar>
        <ion-button (click)="goBack()">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
        <ion-title class="title">Post detail</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item class="post-id">Id: {{post.id}}</ion-item>
        <ion-item class="post-title">Title: {{post.title}}</ion-item>
        <ion-item class="post-body">Body: {{post.body}}</ion-item>
    </ion-list>
</ion-content>
